// sidebar
.tag-cloud,
.block-tagclouds {
	.content {
		padding: 0 0 15px;
	}
  a {
    color: $gray-dark;

    &:hover {
      text-decoration: underline;
    }
  }
  &:nth-child(2n+1) {
    a {
      color: $gray-dark;
    }
  }
  &:nth-child(3n+1) {
    a {
      color: $gray;
    }
  }

	.tagclouds-term {
		margin-right: 2px;
    &:after {
      content: ",";
      color: $gray;
    }
    &:last-child {
      &:after {
        content: "";
      }
    }
    a {
      color: $gray;
    }
	}
}
