//-----------------------------------------
// Dropdown (on filters) background on hover
//-----------------------------------------
//.sbOptions a:hover,
//.sbOptions a:focus,
//.sbOptions a.sbFocus{
//  background: #55967a;
//}

//-----------------------------------------
// selects
//-----------------------------------------
.region-content {
  .form-type-select,
  .webform-component-select {
    margin-bottom: 10px;
    @include full-width;

    @include at-breakpoint($bp-med) {
      margin-right: 20px;
      margin-bottom: 20px;
      width: 150px;
    }
  }
  // hide label since its inside the select
  .webform-component-select label {
    display: none;
  }
  select {
    height: 18px;
    padding: 4px 42px 4px 7px;
    color: $gray-dark;

    font-size: 12px;
    @include font-family;
    @include full-width;

    @include at-breakpoint($bp-med) {
      width: inherit;
    }
  }
}
select {
  background: transparent;
  border: 0;
}





