//-----------------------------------------
// Promo slideshow
//-----------------------------------------

// mobile
#leader {
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  .top-bg-image {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    &:before {
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: $white;
      @include opacity(0.6);
    }
  }
  .flexslider {
    background: none;
    border: 0 none;
    margin-top: 0;
    padding: 68px 35px 30px;
    .flex-control-nav {
      display: none;
    }
    .slides {
      margin: 0;
      padding: 0;
      min-height: 250px;
    }
    .slides img {
      display: none;
    }

    .slides > li {
      min-height: 250px;
      h2 {
        color: $black;
        @include font-size(21,31);
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 12px;
      }
      .button {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    .flex-direction-nav {
      li {
        position: absolute;
        top: 50%;
        display: block;
        visibility: visible;
        a {
          background: transparent;
          border: 1px solid transparent;
          display: block;
          width: 35px;
          height: 42px;
          @include opacity(0.4);
          font-size: 0;
          position: relative;
          text-align: center;
          text-decoration: none;
          &:hover {
            @include opacity(1.0);
          }
        }
        &.flex-nav-prev {
          left: 0;
          a {
            background-image:  url('../images/flex-prev-dark@2x.png');
            background-position: -7px 0;
            background-repeat: no-repeat;
            background-size: 41px 41px;
          }
        }
        &.flex-nav-next {
          right: 0;
          a {
            background-image:  url('../images/flex-next-dark@2x.png');
            background-repeat: no-repeat;
            background-size: 41px 41px;
          }
        }
      }
    }
  }

  .not-front & {
    .flex-direction-nav {
      display: none;
    }
    .slides {
      min-height: 120px;
    }
    .slides > li {
      min-height: 120px;
    }
  }
}

// tablet
#leader {
  @include at-breakpoint($bp-med-2) {
    height: 425px;
    .top-bg-image {
      //height: 425px;
    }
    .flexslider {
      // padding: 136px 35px 124px;
      padding: 136px 35px 0;
      .slides {
        min-height: 215px;
      }
      .slides > li {
        min-height: 215px;
        h2 {
          @include font-size(36,52);
          margin-bottom: 24px;
          width: 100%;
        }
      }

      .flex-direction-nav {
        li {
          a {
            width: 42px;
          }
          &.flex-nav-prev {
            a {
              background-position: 0 0;
            }
          }
        }
      }
    }
  }

  .not-front & {
    @include at-breakpoint($bp-med-2) {
      .flex-direction-nav {
        display: none;
      }
      .slides {
        min-height: 215px;
      }
      .slides > li {
        min-height: 215px;
      }
    }
  }
}

//desktop
#leader {
  @include at-breakpoint($bp-xl-2) {
    .flexslider {
      // padding: 136px 0 124px;
      padding: 136px 0 0;
      .slides > li {
        h2 {
          margin-bottom: 24px;
        }
        p {
          width: 50%;
        }
        .button {
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }

      .flex-direction-nav {
        li {
          margin-top: -42px;
          a {
            width: 85px;
            height: 85px;
          }
          &.flex-nav-prev {
            left: 0;
            a {
              background-size: 84px 84px;
              background-position: 0 0;
            }
          }
          &.flex-nav-next {
            right: 0;
            a {
              background-size: 84px 84px;
            }
          }
        }
      }
    }
  }
}
