/* =====================================
	Customers
	====================================== */

.view-display-id-customers_block {
  .view-content {
    clear: both;
    overflow: hidden;
  }
 // .views-row {
//    .views-field-field-image {
//      display: table;
//      width: 100%;
//      height: 100%;
//
//      .field-content {
//        display: table;
//        width: 100%;
//        height: 100%;
//
//        a {
//          display: table-cell;
//          text-align: center;
//          vertical-align: middle;
//        }
//      }
//    }
//  }
}

// Meet our customers
.view-id-ref_customers {
  margin-top: 0;
	.views-row {
    border: 1px solid transparent;
    margin-bottom: 20px;
		height: 130px;

    @include at-breakpoint($bp-small) {
      @include span-columns(4,12);
      &:nth-child(3n+3) {
        //background: red;
        @include span-columns(4 omega,12);
      }
    }
	}
}

.view-mode-section_dark {
  .view-id-ref_customers {
    .views-row {
      border: 1px solid $white;
      img {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
      }
  		&:hover,
      &:active {
        background: $white;
        img {
          -webkit-filter: none;
          filter: none;
        }
      }
    }
  }
}

// They trust us
.view-ref-customers {
  &.view-display-id-they_trust_us {
    .views-row {
      img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);

        &:hover,
        &:active {
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
        }
      }

      @include at-breakpoint($bp-small) {
        @include span-columns(6,12);
        &:nth-child(2n+2) {
          @include span-columns(6 omega,12);
          //background: green;
        }
      }
      @include at-breakpoint($bp-med) {
        @include span-columns(3,12);

         &:nth-child(2n+2) {
           @include span-columns(3,12);
           //background: gray;
         }
        &:nth-child(4n+4) {
          @include span-columns(3 omega,12);
          //background: red;
        }
      }
    }
  }
}

// media elements
article {
  .media-element-container {
    min-height: 80px;
    margin-bottom: 20px;
    &.media-logo img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);

  		&:hover,
      &:active {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }
    }

    @include at-breakpoint($bp-small) {
      display: inline-block;
      float: left;
      width: 48%;
      margin: 0 1%;
      margin-bottom: 20px;
    }
    @include at-breakpoint($bp-med) {
      display: inline-block;
      float: left;
      width: 23%;
      margin: 0 1%;
      margin-bottom: 20px;
    }
  }
}

