//-----------------------------------------
// selects
//-----------------------------------------
.region-content,
#colorbox {
  .form-type-select,
  .webform-component-select {
    margin-bottom: 10px;
    @include full-width;

    @include at-breakpoint($second) {
      margin-right: 10px;
      width: inherit;
    }
  }
  // hide label since its inside the select
  .webform-component-select label {
    display: none;
  }
  select {
    height: 33px;
    padding: 4px 42px 4px 7px;
    color: #707070;

    @include font-size(16, 20);
    @include font-family;
    @include full-width;

    @include at-breakpoint($second) {
      width: inherit;
    }
  }
}
select {
  background: transparent;
  border: 0;
}

//-----------------------------------------
// labels & descriptions
//-----------------------------------------
%custom-field-label {
  color: #707070;
  font-weight: 600;
  margin-bottom: 2px;
  @include font-size(13);
  @include full-width;
}
.region-content {
  label {
    @extend %custom-field-label;
  }
}
.webform-component-textfield,
.webform-component-email,
.webform-component-textarea {
  label {
    display: none;
  }
}
.webform-component-checkboxes {
  label {
    float: none;
  }
  .form-item {
    padding: 0 !important;
  }
}
.form-item .description {
  color: #777;
  @include font-size(11);
}

//-----------------------------------------
// textfields
//-----------------------------------------
.region-content {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    @extend %textfield-textarea;
  }
}
.aside-primary {
  form {
    float: left;
    padding: 0 15px;
  }
  .form-item {
    @include full-width;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    margin-bottom: 10px;
    @include full-width;
  }
  input[type="submit"] {
    margin: 0 0 15px 15px;
  }
}
.grippie {
  display: none;
}

//-----------------------------------------
// buttons
//-----------------------------------------
.button {
  background: url('../images/bg-button.png');
  background-repeat: repeat-x;
  background-position: left top;
  border: 1px solid #AD3429;
  // removes round corners in ios
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 1px 1px #333;
  @include font-size(14, 18);
  @include font-family;

  &:hover {
    background-position: left bottom;
    border: 1px solid #000;
  }
}
.region-content,
#colorbox {
  input[type="submit"] {
		padding: 0 15px;
		height: 35px;
    float: right;
    @extend .button;
  }
} 